<html>                                                                                                                                                      
  <body>
   <h1>This is an Apache server</h1>
   HOSTNAME: <%= node['hostname'] %>
   IPADDRESS: <%= node['ipaddress'] %>
   <img src="assalam.jpg"> 
</body>                                                                                                                                                     
</html> 
